.nodered/flows.backup
[{"type":"tab","id":"476dfedd.b892","label":"Serial Data"},{"id":"bf60e51.f409f18","type":"serial-port","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\r\\n","bin":"bin","out":"char","addchar":"false"},{"id":"7bd294ea.842d6c","type":"websocket-listener","path":"/ws/serial","wholemsg":"false"},{"id":"eb984723.1467b8","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"sniffer","name":"data"},{"id":"77183509.88e7cc","type":"serial in","name":"COM4","serial":"bf60e51.f409f18","x":141,"y":175,"z":"476dfedd.b892","wires":[["31fdb2a1.ce024e"]]},{"id":"dc026076.23fda","type":"debug","name":"Debug","active":false,"console":"false","complete":"false","x":542,"y":269,"z":"476dfedd.b892","wires":[]},{"id":"f2fd7475.0d0288","type":"websocket out","name":"Socket","server":"7bd294ea.842d6c","x":738,"y":223,"z":"476dfedd.b892","wires":[]},{"id":"6c52f5ab.93ad0c","type":"mongodb out","mongodb":"eb984723.1467b8","name":"","collection":"data","payonly":false,"operation":"store","x":733,"y":348,"z":"476dfedd.b892","wires":[]},{"id":"392aeb5e.c6d514","type":"websocket in","name":"RX","server":"7bd294ea.842d6c","x":135,"y":381,"z":"476dfedd.b892","wires":[["f76e6b43.089198"]]},{"id":"31fdb2a1.ce024e","type":"function","name":"CheckSyncLoss","func":"var ffIndex = 0;\n\nfor(i=0; i < msg.payload.length; i++)\n{\n  // search for four consecutive form feed characters, which will indicate a sync loss\n  if(msg.payload[i] === 12) {//formfeed\n    if( (msg.payload[i+1] === 12) &&\n        (msg.payload[i+2] === 12) &&\n        (msg.payload[i+3] === 12) ) {\n          ffIndex = i+3+1;\n          context.global.startup = Date.now();\n          context.global.timeStampFirstPacket = 0;\n          console.log('sync loss at: '+ffIndex+ ' '+context.global.startup);  \n        }\n  }\n}\n\nif(ffIndex > 0 && ffIndex < msg.payload.length)\n{\n\tmsg.payload = msg.payload.slice(ffIndex, msg.payload.length)\n}\n  \nreturn msg;","outputs":1,"x":350,"y":174,"z":"476dfedd.b892","wires":[["29015ad2.d6fea6","dc026076.23fda"]]},{"id":"29015ad2.d6fea6","type":"function","name":"SplitPacket","func":"var header_len = msg.payload[1];\n\n// Generate timestamps from incoming data....\nvar timeStamp = msg.payload.readUInt32LE(2,true);\nif(context.global.timeStampFirstPacket === 0) {\n  console.log('First packet at '+timeStamp);\n  context.global.timeStampFirstPacket = timeStamp;\n}\nvar deltaTime = timeStamp - context.global.timeStampFirstPacket;\n\nvar payloadoffset = header_len+2;\n\nvar deviceID = msg.payload.readUInt32LE(payloadoffset+3,true);\nvar pktTxTime = Math.round((msg.payload.readUInt8(payloadoffset, true) +1) * context.global.MS_PER_BYTE);\n\nvar type = 0;\nvar command = msg.payload[payloadoffset+1];\nif(command<160) {\n  type = 1;\n} else if (command <208) {\n  type = 3;\n} else if (command<224){\n  type = 2;\n}\n\nvar output = {\n  id: context.global.index++,\n  group: (deviceID+0x100000000).toString(16).substr(-8).toUpperCase(),\n  devType: context.global.arrayType[type],\n  startTime: context.global.startup+deltaTime,\n  deltaTime: pktTxTime,\n  buffer: msg.payload.slice(payloadoffset, msg.payload.length).toString('hex'),\n};\n\nmsg.payload = output;\n                            \nreturn msg;","outputs":1,"x":556,"y":174,"z":"476dfedd.b892","wires":[["f2fd7475.0d0288","b73661d3.48c9a"]]},{"id":"b73661d3.48c9a","type":"debug","name":"","active":false,"console":"false","complete":"false","x":750,"y":169,"z":"476dfedd.b892","wires":[]},{"id":"6010e490.9fef1c","type":"serial out","name":"","serial":"bf60e51.f409f18","x":555,"y":411,"z":"476dfedd.b892","wires":[]},{"id":"ec664d34.1399b","type":"debug","name":"Serial out","active":false,"console":"false","complete":"false","x":568,"y":464,"z":"476dfedd.b892","wires":[]},{"id":"f76e6b43.089198","type":"function","name":"Parse Command","func":"if(msg.payload === 'binary') {\n\tmsg.payload = '$255_0\\r\\n'; // switch sniffer to binary mode\n} else if(msg.payload === 'ascii') {\n\tmsg.payload = '$255_1\\r\\n'; // switch sniffer to ascii mode\n} else if(msg.payload === 'eu_clip') {\n\tmsg.payload = '$254_1\\r\\n';\n} else if(msg.payload === 'us_clip') {\n\tmsg.payload = '$254_2\\r\\n';\n} else if(msg.payload === 'eu_tag') {\n\tmsg.payload = '$254_3\\r\\n';\n} else if(msg.payload === 'us_tag') {\n\tmsg.payload = '$254_4\\r\\n';\n}\nreturn msg;","outputs":1,"x":361,"y":411,"z":"476dfedd.b892","wires":[["6010e490.9fef1c","ec664d34.1399b"]]},{"id":"a7715e45.588ea","type":"inject","name":"EU_CLIP","topic":"","payload":"eu_clip","payloadType":"string","repeat":"","crontab":"","once":false,"x":134,"y":522,"z":"476dfedd.b892","wires":[["f76e6b43.089198"]]},{"id":"8e1a2b8.f71e5d8","type":"inject","name":"US_CLIP","topic":"","payload":"us_clip","payloadType":"string","repeat":"","crontab":"","once":false,"x":135,"y":573,"z":"476dfedd.b892","wires":[["f76e6b43.089198"]]},{"id":"f2f172a5.0d0e9","type":"inject","name":"EU_TAG","topic":"","payload":"eu_tag","payloadType":"string","repeat":"","crontab":"","once":false,"x":135,"y":621,"z":"476dfedd.b892","wires":[["f76e6b43.089198"]]},{"id":"e6ca3177.1935d","type":"inject","name":"US_TAG","topic":"","payload":"us_tag","payloadType":"string","repeat":"","crontab":"","once":false,"x":135,"y":669,"z":"476dfedd.b892","wires":[["f76e6b43.089198"]]}]